.jumbotron {
  margin: 5% auto;
  /* margin-left: 43%; */
}

td {
  height:150px;
  width:150px;
  text-align: center;
  border: 2Px solid black;
  font-size: 100px;
}

table {
  margin: 10px auto auto auto;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 5px;
}

p {
  font-family: 'Amatic SC', cursive;
  color: salmon;
  text-align: center;
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  display: flex;
}

header
{
  font-family: 'Amatic SC', cursive;
  border: 1px solid black;
  font-size: 3em;
  padding: .25em 0;
  letter-spacing: .25em;
  margin: 2% 5% 2% 5%;
  text-align: center;
  width: 90%;
}

div[data-cell] {
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  /* float: left; */
  border: 1px solid #808080;
  font-family: 'Work Sans', sans-serif;
  font-size: 100px;
  text-align: center;
}

button {
    margin-top: 2%;
    background-color: white;
    color: salmon;
    text-align: center;
    text-decoration: none;
    width: 306px;
    padding: .25em;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 10px;
    margin-left: 90px;
}

button:hover {
  background-color: black;
  border: 1px solid black;
}


#announcewin {
  font-family: 'Amatic SC', cursive;
  border: 1px solid black;
  font-size: 3em;
  padding: 1em 0;
  letter-spacing: .25em;
  margin: 2% 5% 0% 5%;
  text-align: center;
  width: 304px;
  height: 100%
}

@media (max-width: 576px) {
   }